body{
  background-color: #f0f0f0;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  box-sizing: border-box;
}

.left-bar__logo {
  display: inline-block;
  width: 69px;
  height: 70px;
  background-color: #fff;
  box-shadow: 0 0 16px 0 rgba(0,0,0,0.15);
}

.left-bar__logo p {
  font-size: 30px;
  font-weight: 900;
  line-height: 0.8;
  padding: 25px 18px 22px;
  margin: 0;
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #fd4e75), color-stop(1, #fc7858) );
  background-image: gradient( linear, left top, right top, color-stop(0, #fd4e75), color-stop(1, #fc7858) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.left-bar {
  z-index: 5;
  width: 69px;
  min-height: 1000px;
  height: 100vh;
  background: #ec7d62; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#ec7d62 , #eb5f75); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ec7d62, #eb5f75); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ec7d62, #eb5f75); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ec7d62 , #eb5f75); /* Standard syntax */
}

 .left-bar__list {
  font-size: 10px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.left-bar__list li:first-child {
  margin-top: 0;
  padding-top: 30px;
}

.left-bar__list li {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  -webkit-transition: color 500ms; /* Safari */
  transition: color 500ms;
}

.left-bar__list li:hover {
  color: rgba(255,255,255,0.75);
}

.left-bar__list i {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
}

.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
  box-sizing: border-box;
  z-index: -2;
}

.top-bar__list-left {
  display: inline-block;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 69px;
  padding-left: 0;
  height: 100%;
}

.top-bar__list-left li {
  float: left;
  padding: 26px 20px 20px;
  font-size: 20px;
  color: #ec7d62;
  border-right: 1px solid #f1f1f1;
}

i.selected {
  line-height: 0.2;
  padding: 6px 6px 5px;
  border-radius: 10px;
  color: #fff;
  background: #ec7d62; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#ec7d62 , #eb5f75); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ec7d62, #eb5f75); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ec7d62, #eb5f75); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ec7d62 , #eb5f75); /* Standard syntax */
}