body{
  background-color: #f0f0f0;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

.top-bar {
  background-color: #fff;
  height: 70px;
  width: 100%;
}

.top-bar__logo {
  display: inline-block;
  width: 69px;
  height: 70px;
  background-color: #fff;
  box-shadow: 0 0 16px 0 rgba(0,0,0,0.15);
}

.left-bar {
  width: 69px;
  height: 100vh;
  background: #ec7d62; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#ec7d62 , #eb5f75); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ec7d62, #eb5f75); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ec7d62, #eb5f75); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ec7d62 , #eb5f75); /* Standard syntax */
}: